.logo-gif-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo-gif {
    width: 25%;
    height: 25%;
    object-fit: contain;
}